# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim
*.swp
*~

# 课上给的模块
#
#/bufmanager/
/Debug/
#/fileio/
#/utils/
testfilesystem.cpp

# ? 文件
.DS_Store

.idea/*
CMakeLists.txt
